@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  padding: 0 5rem;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $base-black;
  position: relative;
}

body,
#root,
.App {
  height: 100%;
}

ul {
  list-style-type: none;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

button:disabled {
  background: #d4d4d4 !important;
  border: none !important;
  cursor: not-allowed !important;
}

a {
  text-decoration: none;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
input,
textarea,
p {
  color: $base-gray;
}

.green {
  color: $base-blue;
  font-size: 1.6rem;
  font-weight: bold;
}

.red {
  color: red;
  font-size: 1.6rem;
  font-weight: bold;
}

input,
textarea,
select {
  @include transition-fast;
  border: 0.1rem $base-gray solid;
  outline: $base-blue 0rem solid;
  &:focus {
    @include transition-fast;
    border: 0.1rem $light-black solid;
    outline: $base-blue 0.3rem solid;
  }
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $light-blue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $base-blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $hover-blue;
}
