@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  padding: 0 5rem;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #f1f4f8;
}

body,
#root,
.App {
  height: 100%;
}

ul {
  list-style-type: none;
}

input,
button {
  background: none;
  outline: none;
  border: none;
}

a {
  color: #000;
  text-decoration: none;
}

@mixin transition-std {
  transition: 0.3s all ease;
}
