.login {
  height: 100%;
  &.inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__header {
    text-align: center;
    font-size: 2.8rem;
  }

  &__form {
    min-width: 35rem;
    background: $light-black;
    padding: 3.5rem;
    border: 1px solid $base-black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &__error {
      overflow: hidden;
      height: 0;
      color: red;
      font-size: 1.4rem;
      font-weight: bold;
      @include transition-std;

      &.active {
        @include transition-std;
        height: 2rem;
      }
    }

    &__button {
      border-radius: 0.5rem;
      cursor: pointer;
      width: 100%;
      padding: 0.6rem 1.2rem;
      color: #fff;
      font-size: 1.6rem;

      &--violet {
        background-color: $base-blue;
        border: 0.1rem solid $base-blue;
        @include transition-std;

        &:hover {
          @include transition-std;
          background-color: $hover-blue;
          border: 0.1rem solid $hover-blue;
        }
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      label {
        font-size: 1.6rem;
      }
      input {
        font-size: 1.6rem;
        padding: 0.6rem 1.2rem;
        border-radius: 0.2rem;
      }

      &--check {
        label {
          font-size: 1.6rem;
          display: flex;
          align-items: center;
          gap: 0.6rem;
        }
      }
    }
  }
}
