.posts {
  &__pagination {
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;

    input {
      border-radius: 0.5rem;
      border: none !important;
      width: 5%;
      text-align: center;
      font-weight: bold;
    }

    button {
      @include transition-std;
      cursor: pointer;
      font-size: 1.6rem;
      width: 15%;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      background: $base-blue;
      color: white;

      &:hover {
        @include transition-std;
        background: $hover-blue;
      }
    }
  }
  &__select {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    label {
      font-size: 1.4rem;
    }

    input {
      background: $light-black;
      color: $base-gray;
      font-size: 1.6rem;
      padding: 1rem 1.2rem;
      border-radius: 0.2rem;
      cursor: default;
    }

    &__wrapper {
      display: flex;
      gap: 1rem;
    }
  }
  select {
    padding: 1rem 1.2rem;
    color: $base-gray;
    background: $light-black;
  }

  &.inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__table {
    &__head {
      min-height: unset !important;
      background: $light-black;
    }

    th {
      cursor: pointer;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 1.6rem;
      justify-self: center;
      background: transparent;
      color: $base-gray;
      @include transition-std;

      &.active {
        background: $light-blue;
        color: $base-black;
        @include transition-std;
      }
    }

    .post-link {
      background: $base-black;
      &:nth-child(2n) {
        background: $light-blue;
        td {
          color: $light-black;
        }
      }
    }

    tr {
      min-height: 7rem;
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 2.5fr 2fr 2fr 2fr 1.5fr 3fr;
      gap: 1rem;
    }

    td {
      color: $base-gray;
      text-align: center;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      justify-self: center;
      font-size: 1.2rem;
      align-self: center;

      a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    tbody {
      max-height: 70vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }
  }
}

.post {
  padding-bottom: 4rem;
  &.inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  &__head {
    svg {
      width: 5rem;
      height: 5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    &__btn {
      display: flex;
      align-items: center;
      gap: 1rem;
      max-width: 30rem;
      border-radius: 0.2rem;
      cursor: pointer;
      width: 100%;
      padding: 0.6rem 1.2rem;
      color: #fff;
      font-size: 1.6rem;
      background-color: #7c69ef;
      border: 0.1rem solid #7c69ef;
      @include transition-std;
      &:hover {
        @include transition-std;
        background-color: #705ed6;
        border: 0.1rem solid #705ed6;
      }
    }

    input {
      font-size: 1.6rem;
      padding: 1rem 1.2rem;
      border: 1px solid #b8b9bb;
      border-radius: 0.2rem;
      cursor: default;
      background: #ebedef;
    }

    textarea {
      background: #ebedef;
      cursor: default;
      padding: 1rem 1.2rem;
      resize: none;
      outline: none;
      font-size: 1.6rem;

      border: 1px solid #b8b9bb;
      border-radius: 0.2rem;
    }

    &__block {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      h4 {
        font-size: 1.6rem;
      }
    }
  }
}

.table {
  &__empty {
    font-size: 1.6rem;

    text-align: center;
  }
}
