.posts {
  &__pagination {
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;

    input {
      border-radius: 0.5rem;
      border: none !important;
      width: 5%;
      text-align: center;
      font-weight: bold;
    }

    button {
      @include transition-std;
      cursor: pointer;
      color: $base-gray;
      font-size: 1.6rem;
      width: 15%;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      background: $base-blue;

      &:hover {
        @include transition-std;
        background: $hover-blue;
      }
    }
  }
  &__select {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    label {
      display: flex;

      gap: 0.8rem;
      font-size: 1.4rem;
    }

    input {
      background: $light-gray;
      color: $base-gray;
      font-size: 1.6rem;
      padding: 1rem 1.2rem;
      border-radius: 0.2rem;
      cursor: default;
      border-radius: 0.5rem;
    }

    &__wrapper {
      display: flex;
      gap: 1rem;
    }
  }
  select {
    padding: 1rem 1.2rem;
    color: #495057;
    background: $light-gray;
    border-radius: 0.5rem;
  }

  &.inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__table {
    border: 0.1rem solid rgba(0, 40, 100, 0.12);
    &.disabled {
      pointer-events: none;
    }

    &__head {
      min-height: unset !important;
      background: $light-gray;
    }

    th {
      padding: 0.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      cursor: pointer;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 1.6rem;
      justify-self: center;
      background: transparent;
      @include transition-std;

      input {
        color: $dark-gray;
        border: 0.1rem solid $dark-gray;
        padding: 1rem 2rem;
        width: 100%;
      }

      span {
        width: 100%;
        color: #494057;
        font-weight: normal;
        @include transition-std;
      }

      &.active {
        background: $dark-gray;

        @include transition-std;
        span {
          color: #494057;
          @include transition-std;
        }
      }
    }

    .post-link {
      background: $base-gray;
      td {
        color: $light-black;

        svg {
          color: $base-blue;
        }
      }
      &:nth-child(2n) {
        background: $light-gray;
      }
    }

    tr {
      min-height: 7rem;
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 2fr 2.5fr 2fr 2.5fr 2.5fr 2.5fr;
      gap: 1rem;
    }

    td {
      color: $base-gray;
      text-align: center;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      justify-self: center;
      font-size: 1.2rem;
      align-self: center;

      a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    tbody {
      min-height: 20rem;
      position: relative;
      // max-height: 70vh;
      // overflow-y: auto;
      display: flex;
      flex-direction: column;
    }
  }

  &__reset {
    color: #fff;

    max-width: 30rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    background: $base-blue;
    padding: 0.5rem 2rem;
    transition: 0.3s all ease;
    text-align: center;
    height: 67%;
    min-width: 20rem;
    cursor: pointer;
    @include transition-std;

    &:hover {
      @include transition-std;
      background-color: $hover-blue;
      border: 0.1rem solid $hover-blue;
    }

    &__btn {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }
}

.post {
  padding-bottom: 4rem;
  &.inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  &__head {
    svg {
      width: 5rem;
      height: 5rem;
    }
  }

  &__date {
    font-size: 1.6rem;
    font-weight: normal;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: $base-white;
    padding: 2rem;
    border: 0.1rem solid rgba(0, 40, 100, 0.12);

    &__btn {
      display: flex;
      align-items: center;
      gap: 1rem;

      border-radius: 0.2rem;
      cursor: pointer;
      width: 100%;
      padding: 1rem 1.2rem;

      font-size: 1.6rem;
      background-color: $base-blue;

      span {
        color: $base-white;
      }

      @include transition-std;
      &:hover {
        @include transition-std;
        background-color: $hover-blue;
      }
    }

    input {
      font-size: 1.6rem;
      padding: 0.6rem 1.2rem;
      border-radius: 0.5rem;
      cursor: default;
      background: $base-gray;
    }

    p {
      background: $base-gray;
      cursor: default;
      padding: 0.6rem 1.2rem;
      font-size: 1.6rem;
      border-radius: 0.5rem;
    }

    &__block {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      h4 {
        font-size: 1.6rem;
      }
    }

    &__table {
      thead {
        tr {
          min-height: unset !important;
          background: $light-black;
        }
      }

      th {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1.6rem;
        justify-self: center;
        background: transparent;
        color: $base-gray;
        @include transition-std;
      }

      tr {
        background: $base-black;
        &:nth-child(2n) {
          background: $light-blue;
          td {
            color: $light-black;

            svg {
              fill: $base-black;
            }
          }
        }
      }

      tr {
        min-height: 7rem;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr repeat(4, 2fr);
        gap: 1rem;
      }

      td {
        color: $base-gray;
        text-align: center;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        justify-self: center;
        font-size: 1.2rem;
        align-self: center;

        a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        svg {
          width: 2rem;
          height: 2rem;
        }
      }

      tbody {
        min-height: 20rem;
        position: relative;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.table {
  &__empty {
    font-size: 1.6rem;

    text-align: center;
  }
}
