$base-gray: #f2f2f2;
$light-black: #393e46;
$base-black: #3b4452;
$dark-blue: #00785a;
$light-blue: #5dd8ab;
$base-blue: #2fad8c;
$hover-blue: #268a6f;
$body-white: #f7f3dd;

@mixin transition-std {
  transition: 0.3s all ease;
}

@mixin transition-fast {
  transition: 0.1s all ease;
}
