$base-gray: #f0f4f8;
$dark-gray: #d3d3d3;
$light-gray: #fafafa;
$light-black: #393e46;
$base-black: #f0f4f8;
$dark-blue: #00785a;
$light-blue: #f0f4f8;
$base-blue: #7d69ef;
$hover-blue: #6f60c7;
$base-white: #ffffff;

@mixin transition-std {
  transition: 0.3s all ease;
}

@mixin transition-fast {
  transition: 0.1s all ease;
}
